div.banner {
	&.is-full-height { height: 100%; }
	div.text-box {	
		font-size: 100%;
		div.img { left: 0; transform: translate(0, 0);}
		div.is-divider {  position: relative; width: 100%; }
		p:only-child { margin: 0; }

		[class*="button"] { 
			margin-right: 0; 
			margin-bottom: 0;
		}
	} 
}