div.slider-wrapper, div.slider.flipContainer {
	.dot { 
		border-width: 2px; 
		min-width: 10px;
		transform: scale(.8);
	}

	button.flickity-button {
		transition: initial;
		transition: @transition;
		top: 0; 
		height: 100%; 

		svg.flickity-button-icon { 
			padding: 31%;
		}
		font-size: 100%;
		min-width: 3em; min-height: 3em;
	}

	.slider-nav-light {
		.dot { border-color: @light; }
		.dot.is-selected { background: @light; }
		.flickity-button svg {
			transition: initial;
			transition: @transition;
			border-color: @light;
			opacity: .5;
			background: transparent;
			.arrow { fill: @light; };
			&:hover .arrow { fill: @light; }
			&:hover { background: initial; opacity: 1; }
		}
	}

	.slider-nav-dark {
		.dot { border-color: @dark; }
		.dot.is-selected { background: @dark; }
		.flickity-button svg {
			transition: initial;
			transition: @transition;
			border-color: @dark;
			opacity: .2;
			background: transparent;
			.arrow { fill: @dark; };
			&:hover .arrow { fill: @dark; }
			&:hover { background: initial; opacity: .5; }
		}
		.flickity-button .arrow { fill: @dark!important; }
	}
	
	.flickity-page-dots {
		li {  
			margin: 0 .15em 0 .15em; 
		}
	}

	.slider-nav-outside {		
		.flickity-viewport { 
			margin-top: 2em; margin-bottom: 2em;
		}
		&:not(.slider-show-nav) .flickity-button {
			&.previous { right: 99.5%; }
			&.next { left: 99.5%; }
		}
		&:hover { 
			button.flickity-button.previous { right: 100%;} 
			button.flickity-button.next { left: 100%;} 
		}				
		&.slider-nav-circle .flickity-button {
			margin-right: 7%;
			margin-left: 7%;
		}
		&.slider-nav-simple .flickity-button {
			margin-right: 3%;
			margin-left: 3%;
		}
		&.slider-nav-reveal .flickity-button {
			margin-right: 0%;
			margin-left: 0%;
			box-shadow: 0 -25px 50px 0 rgba(0,0,0,0.3);
			border-radius: 0!important;
			&:hover { top : 0; }
		}
		.flickity-page-dots { bottom: 1.5em; }
	}

	.slider-style-focus [aria-selected="false"] { opacity: .05; }


	div.slider-style-shadow {
		.flickity-viewport {
			@media only screen  and (min-device-width : 500px) {
				-webkit-mask-image: linear-gradient(to right, rgba(@light,.1) 0%, rgba(@dark,1) 15%, rgba(@dark,1) 85%, rgba(@light,.1));
			}
		}
		// border: 1px solid red;
	}

	div.flickity-viewport {
		// min-height: 100%!important;
		div.row  { margin-bottom: 0;}
	}
}

.row.row-full-width { 
	.slider-nav-outside {
		&.slider-nav-circle .flickity-button {
			margin-right: -10%;
			margin-left: -10%;
		}
		&.slider-nav-simple .flickity-button {
			margin-right: -10%;
			margin-left: -10%;
		}
		&.slider-nav-reveal .flickity-button {
			margin-right: 0%;
			margin-left: 0%;
		}
	}
}